*{
    background-color: antiquewhite;
}

div{
    background-color: lightcyan;
}

.class1{
    background-color: lightsalmon;
}

#div2{
    background-color: lightgreen;
}

#div2{
    background-color: lightcoral;
}
.class1{
    background-color: lime;
}